@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Merriweather:ital@1&family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

html, body, .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url('./assets/background-dos.svg');
}